
.idea/CNN_Fruit_Detector.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
Detection Software/__pycache__/group_boxes.cpython-311.pyc
Detection Software/__pycache__/resize.cpython-311.pyc
Detection Software/__pycache__/workers.cpython-311.pyc
Detection Software/__pycache__/resize.cpython-310.pyc
.idea/workspace.xml
Detection Software/__pycache__/group_boxes.cpython-310.pyc
Detection Software/__pycache__/workers.cpython-310.pyc
